<div
class="lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary shadow-xl dark:shadow-thick rounded-3xl p-8"
>
<div class="relative flex items-center gap-x-4">
  <img
    src="/images/adam-hike-min.PNG"
    alt="Adam"
    class="h-12 w-12 rounded-full ring-1 dark:ring-white/10 ring-primary/5"
  />
  <div class="text-sm leading-6">
    <p class="font-semibold text-primary dark:text-white">
      <a href="#">
        <span class="absolute inset-0"></span>
        Adam Glasser
      </a>
    </p>
    <p class="text-zinc-500 dark:text-zinc-300">
        Engineer, solutions architect, and problem solver.
    </p>
  </div>
</div>
<p
  class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white"
>
    👋 Hi there!
</p>
<p
  class="mt-4 text-md text-zinc-500 dark:text-zinc-300 font-light lg:text-xl"
>
    I'm Adam Glasser, a solutions architect, data engineer, and marketing technology expert based in Bozeman, MT. I enjoy tackling complex business challenges through designing and implementing technology solutions.
  <br />
  <br />
  I've worked with a wide variety of customers across industries to help marketing, sales, human resources, product, and technology teams solve problems quickly and realize business impact.
  From data engineering projects that clean, transform, and utilize poorly structured data, to custom web development aimed at helping marketing and sales teams capture qualified leads and opportunities. I've led teams to create full stack web applications and assisted medical device providers in calculating the necessary quantities of life-saving PPE for their field reps. If you have a technology or business challenge, I can help!
  <br />
  <br />
  When I'm not sitting behind a computer, I like to spend my time backcountry skiing, mountain biking, and generally enjoying time outside with my dog Woody 🐶
</p>
</div>