<div
    class="ring-1 dark:ring-white/10 ring-primary/5 flex flex-col p-8 h-full justify-center items-center rounded-3xl overflow-hidden relative lg:col-span-2 lg:row-start-4 shadow-xl dark:shadow-thick bg-black"
>
    <div class="relative text-center w-full">
        <div class="absolute bottom-0 left-[-20%] right-0 top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"></div><div class="absolute bottom-0 right-[-20%] top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"></div>
        <section>
            <div
                class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16"
            >
                <div class="grid grid-cols-1 gap-8 4xl:grid-cols-2 4xl:gap-16">
                    <div
                        class="relative h-64 overflow-hidden rounded-lg sm:h-80 4xl:order-last 4xl:h-full"
                    >
                        <img
                            alt="Party"
                            src="./images/pets, communication _ pet, animal, dog, delivery, deliver, letter, mail, man, people.png"
                            class="absolute inset-0 h-full w-full object-cover"
                        />
                    </div>

                    <div class="4xl:py-24">
                        <p
                        class="text-3xl text-primary dark:text-white 4xl:text-6xl tracking-tight"
                      >
                        I'm looking for...
                      </p>

                      <p class="mt-4 text-start text-lg text-zinc-500 dark:text-zinc-400 lg:max-w-none">
                        Im interested in any projects or other opportunities where there is a business problem, or an obstacle the way of your organization living up to its full potential that you feel is being blocked by technology.
                      </p>
                      <br>
                      <p class="mt-4 text-start text-lg text-zinc-500 dark:text-zinc-400 lg:max-w-none">
                        Whether you need an application built from scratch, websites or landing pages created/edited, modifications to backend apis, data preparation/analysis or ETL, I can probably help! 
                      </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
