<div
    class="ring-1 dark:ring-white/10 ring-primary/5 shadow-xl dark:shadow-thick rounded-3xl p-8 lg:row-start-4 h-auto flex flex-col justify-between bg-white dark:bg-secondary"
>
    <p
        class="text-xl tracking-tight font-medium text-primary dark:text-white md:text-5xl"
    >
        Some Previous Work
    </p>
    <div class="md:grid md:grid-cols-2 gap-6 lg:grid-cols-1">
        <div class="mt-4">
            <p class="text-xl text-pink-500 dark:text-pink-400">
                I led the design and assisted in the implementation of a new ETL
                framework leveraging an AWS microservice based data ingestion
                architecture, a Python/SQL based transformation layer, and
                Postgres relational database load mechanism.
            </p>
            <p class="text-xs mt-2 text-zinc-500">
                <span class="block text-xs">Customer Engineer</span>
                <span class="block text-xs"> Benepass</span>
            </p>
        </div>
        <div class="mt-4">
            <p class="text-xl text-orange-500 dark:text-orange-300">
                Technically architected/developed and visually designed a
                Typescript application and a NodeJs backend  which
                enabled PFL clients to construct custom emails, forms, and
                personalized direct mail pieces using a WYSIWYG
                interfaces and launch “Hybrid Experiences” to prospects and existing clients.
            </p>
            <p class="text-xs mt-2 text-zinc-500">
                <span class="block text-xs">Solutions Architect</span>
                <span class="block text-xs"> PFL</span>
            </p>
        </div>

    </div>
</div>
