<div
  class="ring-1 dark:ring-white/10 ring-primary/5 flex flex-col justify-between items-center rounded-3xl shadow-xl dark:shadow-thick p-8 bg-white dark:bg-secondary overflow-hidden text-center lg:text-left"
>
  <div>
    <p class="text-xl text-primary dark:text-white lg:text-5xl tracking-tight">
      Take a peek at my work experience
    </p>
    <p
      class="mt-4 text-lg text-zinc-500 dark:text-zinc-400 md:max-w-xs lg:max-w-none"
    >
      If you have any questions about the projects I've worked on, please reach
      out!
    </p>
  </div>
  <div class="w-auto mt-8 md:max-w-xs lg:max-w-none">
    <a
      role="button"
      target="_blank"
      href="https://docs.google.com/document/d/1jCVBOuMSMXk_H_InM8oOSMxjEbsedw-O6ZwQo8Tcxq4/edit?usp=sharing"
      aria-label="Click to perform an action"
      class="flex cursor-pointer items-center rounded-md border-2 border-black bg-[#bc95d4] px-10 py-3 font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] transition-all hover:translate-x-[3px] hover:translate-y-[3px] hover:shadow-none"
    >Resume</a>
  </div>
</div>
