<div
        class="ring-1 dark:ring-white/10  ring-primary/5 flex flex-col justify-between items-center rounded-3xl shadow-xl dark:shadow-thick p-8  bg-white dark:bg-secondary overflow-hidden text-center lg:text-left"
      >
        <div>
          <p
            class="text-xl text-primary dark:text-white lg:text-6xl tracking-tight"
          >
            Take a peek at my work experience
          </p>
          <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 md:max-w-xs lg:max-w-none">
            If you have any questions about the projects I've worked on, please reach out!
          </p>
        </div>
        <div class="w-full mt-8 md:max-w-xs lg:max-w-none">
            <a class="group relative inline-block focus:outline-none focus:ring" target="_blank" href="https://docs.google.com/document/d/1jCVBOuMSMXk_H_InM8oOSMxjEbsedw-O6ZwQo8Tcxq4/edit?usp=sharing">
                <span
                  class="absolute inset-0 translate-x-0 translate-y-0 bg-yellow-300 transition-transform group-hover:translate-x-1.5 group-hover:translate-y-1.5"
                ></span>
              
                <span
                  class="relative inline-block border-2 border-current px-8 py-3 text-sm font-bold uppercase tracking-widest"
                >
                  Resume
                </span>
              </a>
        </div>
      </div>