      <div
        class="relative lg:row-span-2  overflow-hidden duration-300 shadow-xl dark:shadow-thick rounded-3xl"
      >
      <div class="absolute inset-0 -z-10 h-full w-full items-center px-5 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]">
        <div class="-mr-24">
          <img
            src="/images/bulb.png"
            class="rounded-2xl object-cover ring-1 h-64 w-full lg:h-auto dark:ring-white/10 ring-primary/5 bg-tertiary"
            alt=""
          />
        </div>
        <div class="mt-8">

          <p
            class="ext-xl tracking-tight font-medium text-primary dark:text-white md:text-6xl mt-6"
          >
            Do you have an idea for a project?
          </p>
          <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 font-light">
            I have a wide variety of experience solving technology solutions for clients of all sizes, i'd love to hear about what you have in mind!
          </p>
        </div>
    </div>
    </div>