.custom-nav-link{
    text-decoration: none;
    text-decoration-style: solid;
    text-decoration-color: currentColor;
    text-decoration-thickness: auto;
    color: white;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;;
}

.custom-nav-link:hover{
    color: gray;
}

.icon{
    color: black;
}


#bdNavbar, .show {
    background-color: #262626;
}

.dark-nav-link {
   color: black;
}



.show {
    color: white;
    & .icon {
        color: white;
    }
    & .dark-nav-link{
        color: white;
    }
    & :hover{
        color: #61dafb;
    }
}

