


.ripple-container {
    background-image: url('../assets//ripple.png');
    background-repeat: no-repeat;
    background-position: -12vw -30vh;
    background-size: 70vh;
    @media screen and (max-width: 1200px) {
        background-size: 60vh;
        background-position: -20vw -20vh;
    }
    @media screen and (max-width: 992px) {
        background-size: 70vh;
        background-position: -40vw;
    }
    @media screen and (max-width: 768px) {
        background-size: 70vh;
        background-position: -60vw -40vh;
    }
    @media screen and (max-width: 576px) {
        background-size: 70vh;
        background-position: 30vw bottom;
    }
}

.accordion {
    background-color: #1e212b !important;
    --bs-accordion-active-bg: #1e212b !important;
    color: white !important;
}

